pkgbase = lumanin
	pkgdesc = Keyboard-first launcher for Linux with a plugin API
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Tapuuk/Lumanin
	install = lumanin.install
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = nodejs
	makedepends = npm
	makedepends = unzip
	depends = gtk3
	depends = nss
	depends = libxss
	depends = libnotify
	depends = alsa-lib
	depends = libxkbcommon
	depends = at-spi2-core
	depends = libdrm
	depends = mesa
	depends = libcups
	optdepends = fd: file search, the fastest backend
	optdepends = plocate: file search over an index
	optdepends = wl-clipboard: clipboard on Wayland
	optdepends = ydotool: paste into the focused window on Wayland
	optdepends = xdotool: paste into the focused window on X11
	noextract = electron-v43.3.0-linux-x64.zip
	noextract = electron-v43.3.0-linux-arm64.zip
	source = lumanin-1.0.0.tar.gz::https://github.com/Tapuuk/Lumanin/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = 0bcf43024f3e52c0d8277c17f9f5176e951c66069d40bc314540831d468bca7a
	source_x86_64 = electron-v43.3.0-linux-x64.zip::https://github.com/electron/electron/releases/download/v43.3.0/electron-v43.3.0-linux-x64.zip
	sha256sums_x86_64 = f4987e9f045e46b117f0805d6ba4dc524e2abb2c2e33660f175bb39564bd3dae
	source_aarch64 = electron-v43.3.0-linux-arm64.zip::https://github.com/electron/electron/releases/download/v43.3.0/electron-v43.3.0-linux-arm64.zip
	sha256sums_aarch64 = 3e89a62c345d8171bf54f77df5b3d8216c492847eed00ae59cadd78d6f5535f7

pkgname = lumanin
